 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  hsl(206, 94%, 87%);
    font-family: 'Outfit', sans-serif;
}
.home{
     background: white;
     display: flex;
     padding: 14px;
     border-radius: 6px;
     height: 75vh;
     width: 800px;
     transition: 2s all ease-in-out;
     
}

@media screen and (max-width: 570px){
    .home{
        display: grid;
        width: 400px;
        height: 98vh;
        padding: 0px;

        
        
   }
}

section{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

/* sidebar styles */

.sidebar-container{
    background: url('./assets/images/bg-sidebar-desktop.svg') no-repeat ;
    object-fit: contain;
    padding: 12px 16px ;
    align-items: center;
    width: 350px;

}

.sidebar-container > div{
    margin-top: 20px;
}

.sidebar-container > div > h3{
    color: white;
    display: inline;
    margin-left: 9px;
}

.sidebar-container > div p{
    margin-left: 25px;
    color: rgb(145, 144, 144);
}

.sidebar-container > div > a{
    color: white;
    text-decoration: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 50%;
    padding: 4px 7px;
}

.sidebar-container > div > a.active{
    background: hsl(228, 100%, 84%);
    color: black;
}

.sidebar-container > div > a:hover{
    background:hsl(228, 100%, 84%);
    color: black;
    cursor:pointer;

}

/* MOBILE STYLES FOR SIDEBAE */

@media screen and (max-width: 560px){

    .sidebar-container{
        background: url('./assets/images/bg-sidebar-mobile.svg') no-repeat ;
        object-fit: contain;
        padding: 7px 9px ;
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
        height: 90px;
    
    }

    .sidebar-container > div > h3{
        display: none;
    }
    
    .sidebar-container > div p{
       display: none;
    }

    .sidebar-container > div > a{
        margin-left: 19px;
    }

}

.next-container{
    display: flex;
    gap: 260px;
    padding: 14px 15px ;
}


.next-container > .back-btn > button {
    padding: 10px 9px;
    border: none;
    color: rgb(99, 97, 97);
    background: transparent;
    cursor: pointer;
    transition: 0.5s all ease-in;
    
}

.next-container > .back-btn:hover {
border: 1px solid rgb(172, 170, 170);
border-radius: 4px;
}

.next-container > .next-btn > button a{
    text-decoration: none;
    color: white;
    padding: 10px 8px;
}

.next-container > .next-btn > button{
    padding: 10px 8px;
    border-radius: 7px;
    border: none;
    background: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
}

.content-container{
    padding: 16px 35px;
    position: relative;
    width: 500px;
    overflow: hidden;
    transition: 2s all ease-in-out;
}

@media screen and (max-width: 560px){

    .next-container{
        bottom: 30px;
        right: 60px;
        gap: 220px;
    }

    .content-container{
        width: 100%;
        margin-top: 30px;
    }

}


/* option 1 styles */

.your_info h2{
    font-weight: 800;
}

.your_info > p{
    margin-bottom: 32px;
}

form > input{
    padding: 5px 86px;
    position: relative;
    margin-bottom: 20px;
}

form > input::placeholder{
    position: absolute;
    left: 10px;
    color: black;
    font-weight: 700;
}

/* option 2 styles */

.plans{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.plan{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px 25px ;
    transition: 0.8s all ease-in-out;
    cursor: pointer;
}

.planActive{
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    padding: 20px 25px ;
    transition: 0.8s all ease-in-out;
    cursor: pointer;
    background: hsl(228, 100%, 84%);
}

.planActiveTwo{
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    padding: 20px 25px ;
    transition: 0.8s all ease-in-out;
    cursor: pointer;
    background: hsl(228, 100%, 84%);
}

.planActiveThree{
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    padding: 20px 25px ;
    transition: 0.8s all ease-in-out;
    cursor: pointer;
    background: hsl(228, 100%, 84%);
}

.plan > img {
    margin-bottom: 18px;
}

.plan > p{
  color: rgb(133, 128, 128);

}

.plan:hover{
    border: 1px solid hsl(243, 100%, 62%);
    background:  hsl(206, 94%, 87%);

}

.plan-billing {
    background: rgb(192, 191, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    padding: 9px 14px ;
    gap: 10px;
    border-radius: 12px;
}

@media screen and (max-width: 560px){
    .plans{
        margin-top: 20px;
        display: grid;
        gap: 20px;
    }
    
    .plan{
        display: flex;
        align-items: center;
        padding: 10px 15px ;
    }

    .planActive{
        display: flex;
        align-items: center;
        padding: 11px 16px ;
    }
    
    .planActiveTwo{
        display: flex;
        align-items: center;
        padding: 11px 16px ;
        
    }
    
    .planActiveThree{
        display: flex;
        align-items: center;
        padding: 11px 16px ;
        
    }

    .plan > img {
        margin-bottom: 14px;
        margin-right: 10px;
    }
    
  

}



/*styles for toggle monthly and yearly */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;
    border-radius: 10px;
    
}

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 10px;
    transition: 0.4s all ease-in;
}

input:checked + .slider::before{
    transform: translatex(24px);
}



/* step 3 */

.add-ons-container > p{
    margin-bottom: 20px;
    color: gray;
}

.add-ons-container > .addons > .addon{
display: flex;
padding: 12px;
border: 1px solid rgb(150, 150, 150);
border-radius: 6px;
margin-bottom: 12px;
position: relative;

}

.add-ons-container > .addons > .addonActive{
    display: flex;
    padding: 12px;
    border: 1px solid rebeccapurple;
    background: lightblue;
    border-radius: 6px;
    margin-bottom: 12px;
    position: relative;
    
    }

.add-ons-container > .addons > .addonActiveTwo{
    display: flex;
    padding: 12px;
    border: 1px solid rebeccapurple;
    background: lightblue;
    border-radius: 6px;
    margin-bottom: 12px;
    position: relative;
    
    }
    
    .add-ons-container > .addons > .addonActiveThree{
    display: flex;
    padding: 12px;
    border: 1px solid rebeccapurple;
    background: lightblue;
    border-radius: 6px;
    margin-bottom: 12px;
    position: relative;
    
    }





.addon > label > span{
    display: inline;
    position: absolute;
    right: 8px;
    top: 25px;
    color: gray;
    font-weight: bold;
}

.addon > input{
    margin-right: 10px;
    cursor: pointer;
}



.addon > label > p{
    color: gray;
}


/*FINISH UP STYLES*/

.finishing-container > p {
    margin-bottom:20px ;
}

.product{
    position: relative;
    border: 1px solid rgb(180, 179, 179);
    padding: 12px;
    background: rgb(221, 220, 220);
}

.product > h4 {
    position: absolute;
    right: 10px;
    top: 20px;
    
}

.product-total{
    position: relative;
    padding: 12px;
}

.product-total > span {
    position: absolute;
    right: 10px;
    top: 20px;
    font-weight: bold;
    font-size: 18px;
    
}

.total {
    color: rebeccapurple;
    font-weight: bold;
}

.thankYou-containter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thankYou > img {
    margin-left: 60px;
}

.thankYou > h1 {
    margin-left: 40px;
}

@media screen and (max-width: 560px){

    .thankYou-containter{
        width: 100%;
        height: 60%;
    }
    

}
