*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  hsl(206, 94%, 87%);
}
.home{
     background: white;
     display: flex;
     padding: 14px;
     border-radius: 6px;
     height: 75vh;
     width: 800px;
     transition: 2s all ease-in-out;
     
}

section{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

/* sidebar styles */

.sidebar-container{
    background: url('./assets/images/bg-sidebar-desktop.svg') no-repeat ;
    object-fit: contain;
    padding: 12px 16px ;
    align-items: center;
    width: 350px;

}

.sidebar-container > div{
    margin-top: 20px;
}

.sidebar-container > div > h3{
    color: white;
    display: inline;
    margin-left: 9px;
}

.sidebar-container > div p{
    margin-left: 25px;
    color: rgb(145, 144, 144);
}

.sidebar-container > div > a{
    color: white;
    text-decoration: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 50%;
    padding: 4px 7px;
}

.sidebar-container > div > a:hover{
    background:hsl(228, 100%, 84%);
    color: black;
    cursor:pointer;

}

.next-container{
    position: absolute;
    bottom: 0;
    right: 40px;
    display: flex;
    gap: 260px;
    padding: 14px 15px ;
}

.next-container > .back-btn > button {
    padding: 10px 9px;
    border: none;
    color: rgb(99, 97, 97);
    background: transparent;
    cursor: pointer;
    transition: 0.5s all ease-in;
    
}

.next-container > .back-btn:hover {
border: 1px solid rgb(172, 170, 170);
border-radius: 4px;
}

.next-container > .next-btn > button{
    padding: 10px 8px;
    border-radius: 7px;
    border: none;
    background: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
}

.content-container{
    padding: 16px 35px;
    position: relative;
    width: 500px;
    overflow: hidden;
}

/* option 1 styles */

.your_info h2{
    font-weight: 800;
}

.your_info > p{
    margin-bottom: 32px;
}

form > input{
    padding: 5px 86px;
    position: relative;
    margin-bottom: 20px;
}

form > input::placeholder{
    position: absolute;
    left: 10px;
    color: black;
    font-weight: 700;
}

/* option 2 styles */

.plans{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.plan{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px 25px ;
    transition: 0.8s all ease-in-out;
    cursor: pointer;

}

.plan > img {
    margin-bottom: 18px;
}

.plan > p{
  color: rgb(133, 128, 128);

}

.plan:hover{
    border: 1px solid hsl(243, 100%, 62%);
    background:  hsl(206, 94%, 87%);

}

.plan-billing {
    background: gray;
    display: flex;
    margin-top: 15px;
    padding: 9px 14px ;
    gap: 10px;
    border-radius: 12px;
}


/*styles for toggle monthly and yearly */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;
    border-radius: 10px;
    
}

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 10px;
    transition: 0.4s all ease-in;
}

input:checked + .slider::before{
    transform: translatex(24px);
}


/* step 3 */

.add-ons-container > p{
    margin-bottom: 20px;
    color: gray;
}

.add-ons-container > .addons > .addon{
display: flex;
padding: 12px;
border: 1px solid rgb(150, 150, 150);
border-radius: 6px;
margin-bottom: 12px;
position: relative;

}

.addon > label > span{
    display: inline;
    position: absolute;
    right: 8px;
    top: 25px;
    color: gray;
    font-weight: bold;
}

.addon > input{
    margin-right: 10px;
    cursor: pointer;
}

.addon > label > p{
    color: gray;
}


/*FINISH UP STYLES*/

.finishing-container > p {
    margin-bottom:20px ;
}

.product{
    position: relative;
    border: 1px solid rgb(180, 179, 179);
    padding: 12px;
    background: rgb(221, 220, 220);
}

.product > h4 {
    position: absolute;
    right: 10px;
    top: 20px;
    
}

.product-total{
    position: relative;
    padding: 12px;
}

.product-total > span {
    position: absolute;
    right: 10px;
    top: 20px;
    font-weight: bold;
    font-size: 18px;
    
}
